<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>

  <ion-accordion-group class="ion-padding">
    <ion-accordion *ngFor="let faq of faqs" class="accordion" [value]="faq.id">
      <ion-item slot="header" color="light">
        <ion-label class="text-gold">{{ faq.question }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{ faq.answer }}</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
