<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="warning">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TOC Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>
  <ng-container *ngIf="isCLubOpen === true else clubClosed">
    <div class="form-container fade-in">
      <h2 class="page-title text-center golden-text">Join TOC Waitlist</h2>
      <form [formGroup]="waitlistForm" (ngSubmit)="onSubmit()">
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">Last Initial</ion-label>
          <ion-input
            formControlName="lastInitial"
            type="text"
            maxlength="1"
          ></ion-input>
        </ion-item>
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">Phone Number</ion-label>

          <ion-input
            (ngModelChange)="phoneNumberChanged()"
            formControlName="phone"
            type="text"
          ></ion-input>
          <p class="text-danger" *ngIf="waitlistForm.controls['phone'].invalid">
            Please enter the number in this format (+1XXXXXXXXXX)
          </p>
        </ion-item>
        <!-- <ion-item class="input-item border-bottom border-warning">
          <ion-select
            label="Game Type"
            labelPlacement="floating"
            formControlName="game"
            (ngModelChange)="onChangeGame()"
          >

            <ion-select-option value="toc">
              Tournament of Champoins
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item
          class="input-item border-bottom border-warning"
          *ngIf="tocSettings"
        >
          <ion-select
            label="Select Day"
            labelPlacement="floating"
            formControlName="toc_day"
            (ngModelChange)="onTocDaySelect()"
          >
            <ng-container *ngFor="let toc_set of tocSettings">
              <ion-select-option [value]="toc_set.id">
                {{toc_set.day_date}}
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <p class="info-text">
          Note: To see Tournament of Champoins waitlist select Tournament of
          Champoins in Game Type
        </p> -->
        <h4 class="golden-text">Please choose a game.</h4>
        <ion-radio-group *ngIf="!tocGame" formControlName="gameType">
          <ion-list class="input-item">
            <ion-item
              class="input-item-check border-bottom border-warning"
              *ngFor="let game of todayGames"
            >
              <ion-radio [value]="game.gameType">
                <!-- <ion-label
              >{{ game.gameType }} - {{game.buy_in? game.buy_in : 'NL'}}
              Buy-in
              </ion-label> -->
                <ion-label>{{ game.gameType }}</ion-label>
              </ion-radio>
            </ion-item>
          </ion-list>
        </ion-radio-group>

        <ion-radio-group *ngIf="tocGame" formControlName="gameType">
          <ion-list class="input-item">
            <ion-item class="input-item-check border-bottom border-warning">
              <ion-radio [value]="tocGame">
                <ion-label>{{ tocGame }}</ion-label>
              </ion-radio>
            </ion-item>
          </ion-list>
        </ion-radio-group>

        <ion-item class="input-item border-bottom border-warning">
          <ion-checkbox justify="space-between" formControlName="smsUpdates"
            >Send me SMS updates</ion-checkbox
          >
        </ion-item>

        <ion-button
          expand="block"
          class="glowing-btn"
          type="submit"
          [disabled]="waitlistForm.invalid"
        >
          Join List
        </ion-button>
      </form>
    </div>
  </ng-container>
  <ng-template #clubClosed>
    <ion-card
      class="closed-card my-5 animate-fade-in animate-slide-up ion-padding"
    >
      <ion-card-content>
        <ion-card-title class="text-center"
          >We are currrently closed</ion-card-title
        >
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="firstUserModal" class="modal-content-otp ion-padding fade-in">
    <ion-card class="modal-otp ion-padding animate-glow">
      <h2>Phone Authentication</h2>
      <div *ngIf="!verificationSent">
        <ion-item class="input-item">
          <ion-input
            [(ngModel)]="phoneNumber"
            placeholder="+1XXXXXXXXXX"
            disabled="true"
          ></ion-input>
        </ion-item>
        <ion-button expand="block" class="glowing-btn" (click)="sendOTP()"
          >Send OTP</ion-button
        >
      </div>
      <div *ngIf="verificationSent">
        <h3>Enter OTP</h3>
        <ion-item class="input-item">
          <ion-input [(ngModel)]="otpCode" placeholder="Enter OTP"></ion-input>
        </ion-item>
        <ion-button expand="block" class="glowing-btn" (click)="verifyOTP()"
          >Verify</ion-button
        >
      </div>
      <p *ngIf="authMessage" class="error-text">{{ authMessage }}</p>
    </ion-card>
  </div>

  <div *ngFor="let game of todayGames" class="waitlist-container fade-in">
    <h3 class="golden-text">{{game.gameType}}</h3>
    <p>Available seats: {{game.seats - waitlist.length}}</p>
    <p class="info-text">
      <ion-icon name="checkmark"></ion-icon> indicates the player is checked in
      at the club
    </p>

    <ion-list class="waitlist-list" *ngIf="waitlist.length > 0">
      <ng-container *ngFor="let entry of waitlist">
        <ng-container *ngIf="entry.gameType == game.gameType; else noData">
          <ion-item
            class="waitlist-item rounded-bottom border-bottom border-warning"
          >
            <ion-label>
              {{ entry.firstName }} {{ entry.lastInitial }}
              <span
                style="float: right"
                *ngIf="entry.checkedIn == true"
                class="checked-in"
              >
                <ion-icon name="checkmark"></ion-icon
              ></span>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ng-template #noData>
      <p class="info-text">
        No players on the waitlist yet. Be the first to join!
      </p>
    </ng-template>
  </div>
</ion-content>
