<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="warning">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tournament of Champoins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>

  <div *ngFor="let days of allTocDays" class="waitlist-container fade-in">
    <h3 class="golden-text">{{days.day_date}}</h3>
    <p class="info-text">
      <ion-icon name="checkmark"></ion-icon> indicates the player is checked in
      at the club
    </p>

    <ion-list class="waitlist-list" *ngIf="waitlist.length > 0; else noData">
      <ng-container *ngFor="let entry of waitlist">
        <ion-item
          class="waitlist-item rounded-bottom border-bottom border-warning"
          *ngIf="days.id === entry.toc_settings_id"
        >
          <ion-label>
            {{ entry.firstName }} {{ entry.lastInitial }}
            <span
              style="float: right"
              *ngIf="entry.checkedIn == true"
              class="checked-in"
            >
              <ion-icon name="checkmark"></ion-icon
            ></span>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ng-template #noData>
      <p class="info-text">
        No players on the waitlist yet. Be the first to join!
      </p>
    </ng-template>
  </div>
</ion-content>
