// ion-button {
//   --background: goldenrod;
//   --background-activated: gold;
// }
ion-content {
  --background: linear-gradient(to bottom, #111, #222, #615b41);
}

.text-gold {
  color: goldenrod;
}
.text-muted {
  color: rgba(255, 255, 255, 0.7);
}
.schedule-header {
  background: rgba(255, 215, 0, 0.1);
  font-weight: bold;
  border-radius: 10px;
  border-bottom: 1px solid goldenrod;
  transition: all 0.3s;
}
.schedule-header:hover {
  background: rgba(255, 215, 0, 0.2);
}
.schedule-card {
  background: #000000b3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}
.schedule-content {
  padding: 10px;
  background: transparent;
}
.game-info {
  margin-bottom: 8px;
}
.schedule-description {
  font-style: italic;
  opacity: 0.9;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
  }
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in-out;
}
.animate-glow {
  animation: glow 1.5s infinite;
}
.animate-slide-in {
  animation: slideIn 0.5s ease-out;
}
.accordion-content {
  transition: all 0.3s ease-in-out;
}
