<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate-slide-in">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>
  <div class="text-center">
    <h2 class="page-title text-gold">Weekly Schedule</h2>
    <!-- <p class="animate-fade-in">
      Club Elite is open seven days a week.<br />
      <strong>Monday - Friday:</strong> 7 PM - 4 AM<br />
      <strong>Weekends & Holidays:</strong> 3 PM - 4 AM
    </p> -->
  </div>
  <div class="row">
    <div class="col ion-padding">
      <h1 class="text-center">Cash Game</h1>
      <div
        class="card schedule-card border fw-bold border-warning bg-transparent text-white text-center my-3"
        *ngFor="let schedule of schedule"
      >
        <h2 class="text-gold">{{schedule.day}}</h2>
        <div *ngFor="let game of schedule.games" class="game-info">
          <p *ngIf="game.description">{{game.description}}</p>
          <strong>{{ game.gameType }}</strong>
          <p>{{ game.limit }}</p>
        </div>
        <p>{{schedule.time}}</p>
      </div>
    </div>
    <div class="col ion-padding">
      <h1 class="text-center">Tournament</h1>
      <div
        class="card schedule-card border fw-bold border-warning bg-transparent text-white text-center my-3"
        *ngFor="let schedule of tocSchedule"
      >
        <h2 class="text-gold">{{schedule.day_date}}</h2>
        <strong class="game-info">{{ schedule.gameType }}</strong>
        <p>{{ schedule.buy_in }}</p>
      </div>
    </div>
  </div>
</ion-content>
