<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Specials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div
    *ngIf="specialEvents.length > 0; else noData"
    class="event-list animate-fade-in"
  >
    <ion-card
      *ngFor="let event of specialEvents"
      class="event-card animate-glow"
      (click)="openUrl(event.url)"
    >
      <ion-card-header>
        <ion-card-title class="gold-text">{{
          event.event_name
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="event.image" alt="Event Image" class="event-image" />
        <br />
        <h2 class="event-title">{{ event.event_description }}</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noData>
    <p class="animate-fade-in my-5 text-center">No Specials at the moment.</p>
  </ng-template>
</ion-content>
