<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Waitlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>
  <ng-container
    *ngIf="isCLubOpen === true && isWaitlistOpen === true else clubClosed"
  >
    <div class="form-container fade-in">
      <h2 class="page-title text-center golden-text">Join The Waitlist</h2>
      <form [formGroup]="waitlistForm" (ngSubmit)="onSubmit()">
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">Last Initial</ion-label>
          <ion-input
            formControlName="lastInitial"
            type="text"
            maxlength="1"
          ></ion-input>
        </ion-item>
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">Phone Number</ion-label>

          <ion-input
            (ngModelChange)="phoneNumberChanged()"
            formControlName="phone"
            type="text"
          ></ion-input>
          <p class="text-danger" *ngIf="waitlistForm.controls['phone'].invalid">
            Please enter the number in this format (+1XXXXXXXXXX)
          </p>
        </ion-item>

        <h4 class="golden-text">Please choose a game.</h4>
        <ion-radio-group *ngIf="!tocGame" formControlName="gameType">
          <ion-list class="input-item">
            <ion-item
              class="input-item-check border-bottom border-warning"
              *ngFor="let game of todayGames"
            >
              <ion-radio [value]="game.gameType">
                <ion-label>{{ game.gameType }}</ion-label>
              </ion-radio>
            </ion-item>
          </ion-list>
        </ion-radio-group>

        <ion-radio-group *ngIf="tocGame" formControlName="gameType">
          <ion-list class="input-item">
            <ion-item class="input-item-check border-bottom border-warning">
              <ion-radio [value]="tocGame">
                <ion-label>{{ tocGame }}</ion-label>
              </ion-radio>
            </ion-item>
          </ion-list>
        </ion-radio-group>

        <ion-item class="input-item border-bottom border-warning">
          <ion-checkbox justify="space-between" formControlName="smsUpdates"
            >Send me SMS updates</ion-checkbox
          >
        </ion-item>

        <ion-button
          expand="block"
          class="glowing-btn"
          type="submit"
          [disabled]="waitlistForm.invalid"
        >
          Join List
        </ion-button>
      </form>
    </div>

    <div *ngIf="firstUserModal" class="modal-content-otp ion-padding fade-in">
      <ion-card class="modal-otp ion-padding animate-glow">
        <h2>Phone Authentication</h2>
        <div *ngIf="!verificationSent">
          <ion-item class="input-item">
            <ion-input
              [(ngModel)]="phoneNumber"
              placeholder="+1XXXXXXXXXX"
              disabled="true"
            ></ion-input>
          </ion-item>
          <ion-button expand="block" class="glowing-btn" (click)="sendOTP()"
            >Send OTP</ion-button
          >
        </div>
        <div *ngIf="verificationSent">
          <h3>Enter OTP</h3>
          <ion-item class="input-item">
            <ion-input
              [(ngModel)]="otpCode"
              placeholder="Enter OTP"
            ></ion-input>
          </ion-item>
          <ion-button expand="block" class="glowing-btn" (click)="verifyOTP()"
            >Verify</ion-button
          >
        </div>
        <p *ngIf="authMessage" class="text-gold text-center">
          {{ authMessage }}
        </p>
      </ion-card>
    </div>

    <div *ngFor="let game of todayGames" class="waitlist-container fade-in">
      <h3 class="golden-text">{{game.gameType}}</h3>
      <p class="info-text">
        <ion-icon name="checkmark"></ion-icon> indicates the player is checked
        in at the club
      </p>

      <ion-list class="waitlist-list" *ngIf="waitlist.length > 0">
        <ng-container *ngFor="let entry of waitlist">
          <ng-container *ngIf="entry.gameType == game.gameType; else noData">
            <ion-item
              class="waitlist-item rounded-bottom border-bottom border-warning"
            >
              <ion-label>
                {{ entry.firstName }} {{ entry.lastInitial }}
                <span
                  style="float: right"
                  *ngIf="entry.checkedIn == true"
                  class="checked-in"
                >
                  <ion-icon name="checkmark"></ion-icon
                ></span>
              </ion-label>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>

      <ng-template #noData>
        <p class="info-text">
          No players on the waitlist yet. Be the first to join!
        </p>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #clubClosed>
    <ion-card
      class="closed-card my-5 animate-fade-in animate-slide-up ion-padding"
    >
      <ion-card-content>
        <ion-card-title class="text-center">
          <ng-container *ngIf="!isWaitlistOpen && startTime">
            ⏳ Opening Soon
          </ng-container>

          <ng-container *ngIf="!isWaitlistOpen && !startTime">
            🚪 Closed for Today
          </ng-container>
        </ion-card-title>

        <div class="text-center mt-2">
          <ng-container *ngIf="!isWaitlistOpen && startTime">
            The waitlist will open at <strong>{{ startTime }}</strong>.<br />
            Stay tuned — we’ll be ready for you soon!
          </ng-container>

          <ng-container *ngIf="!isWaitlistOpen && !startTime">
            We're not accepting entries today. Please check the schedule for
            updates.
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Waitlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>

  <ng-container *ngIf="isWaitlistAcceptingEntries else clubClosed">
    <div class="form-container fade-in">
      <h2 class="page-title text-center golden-text">Join The Waitlist</h2>
      <form [formGroup]="waitlistForm" (ngSubmit)="onSubmit()">
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">Last Initial</ion-label>
          <ion-input
            formControlName="lastInitial"
            type="text"
            maxlength="1"
          ></ion-input>
        </ion-item>
        <ion-item class="input-item border-bottom border-warning">
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input
            (ngModelChange)="phoneNumberChangedInForm()"
            formControlName="phone"
            type="text"
          ></ion-input>
          <p
            class="text-danger"
            *ngIf="waitlistForm.controls['phone'].invalid && waitlistForm.controls['phone'].touched"
          >
            Please enter the number in this format (+1XXXXXXXXXX)
          </p>
        </ion-item>

        <h4 class="golden-text ion-padding-start">Please choose a game:</h4>
        <ion-radio-group
          *ngIf="!activeOperationalSchedule?.tocGame"
          formControlName="gameType"
        >
          <ion-list class="input-item">
            <ion-item
              class="input-item-check border-bottom border-warning"
              *ngFor="let game of todayGames"
            >
              <ion-radio [value]="game.gameType">
                <ion-label>{{ game.gameType }}</ion-label>
              </ion-radio>
            </ion-item>
            <ion-item
              *ngIf="todayGames.length === 0"
              class="input-item-check border-bottom border-warning"
            >
              <ion-label class="ion-text-wrap"
                >No specific games listed for today's schedule. Please select a
                general game type if available or check back.</ion-label
              >
            </ion-item>
          </ion-list>
        </ion-radio-group>

        <ion-radio-group
          *ngIf="activeOperationalSchedule?.tocGame"
          formControlName="gameType"
        >
          <ion-list class="input-item">
            <ion-item class="input-item-check border-bottom border-warning">
              <ion-radio [value]="activeOperationalSchedule.tocGame">
                <ion-label>{{ activeOperationalSchedule.tocGame }}</ion-label>
              </ion-radio>
            </ion-item>
          </ion-list>
        </ion-radio-group>

        <ion-item class="input-item border-bottom border-warning">
          <ion-checkbox justify="space-between" formControlName="smsUpdates"
            >Send me SMS updates</ion-checkbox
          >
        </ion-item>

        <ion-button
          expand="block"
          class="glowing-btn ion-margin-top"
          type="submit"
          [disabled]="waitlistForm.invalid"
        >
          Join List
        </ion-button>
        <p *ngIf="errorMessage" class="text-danger text-center ion-padding-top">
          {{ errorMessage }}
        </p>
      </form>
    </div>

    <div *ngIf="firstUserModal" class="modal-content-otp ion-padding fade-in">
      <ion-card class="modal-otp ion-padding animate-glow">
        <ion-card-header>
          <ion-card-title class="text-center golden-text"
            >Phone Authentication</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="!verificationSent">
            <ion-item class="input-item">
              <ion-input
                [(ngModel)]="phoneNumber"
                label="Sending OTP to:"
                labelPlacement="stacked"
                placeholder="+1XXXXXXXXXX"
                [readonly]="true"
              ></ion-input>
            </ion-item>
            <ion-button
              expand="block"
              class="glowing-btn ion-margin-top"
              (click)="sendOTP()"
              >Send OTP</ion-button
            >
          </div>
          <div *ngIf="verificationSent">
            <h3 class="text-center golden-text">Enter OTP</h3>
            <ion-item class="input-item">
              <ion-input
                [(ngModel)]="otpCode"
                label="OTP Code"
                labelPlacement="stacked"
                placeholder="Enter OTP"
                type="number"
              ></ion-input>
            </ion-item>
            <ion-button
              expand="block"
              class="glowing-btn ion-margin-top"
              (click)="verifyOTP()"
              >Verify</ion-button
            >
          </div>
          <p *ngIf="authMessage" class="text-gold text-center ion-padding-top">
            {{ authMessage }}
          </p>
        </ion-card-content>
      </ion-card>
    </div>

    <ng-container *ngIf="activeOperationalSchedule">
      <div
        *ngFor="let game of todayGames"
        class="waitlist-container fade-in ion-padding-top"
      >
        <h3 class="golden-text">{{game.gameType}} Waitlist</h3>
        <p class="info-text">
          <ion-icon
            name="checkmark"
            class="checked-in-icon align-middle"
          ></ion-icon>
          indicates player is checked in.
        </p>

        <ng-container *ngIf="getWaitlistForGame(game.gameType) as gameEntries">
          <ion-list
            class="waitlist-list"
            *ngIf="gameEntries.length > 0; else noPlayersForThisGame"
          >
            <ion-item
              *ngFor="let entry of gameEntries"
              class="waitlist-item rounded-bottom border-bottom border-warning"
            >
              <ion-label>
                {{ entry.firstName }} {{ entry.lastInitial }}.
                <span
                  *ngIf="entry.checkedIn"
                  class="checked-in-indicator float-end"
                >
                  <ion-icon class="align-middle" name="checkmark"></ion-icon>
                </span>
              </ion-label>
            </ion-item>
          </ion-list>

          <ng-template #noPlayersForThisGame>
            <div class="info-text">
              No players on the {{game.gameType}} waitlist yet. Be the first to
              join!
            </div>
          </ng-template>
        </ng-container>
      </div>

      <div
        *ngIf="!todayGames || todayGames.length === 0"
        class="text-center info-text ion-padding"
      >
        No specific games scheduled for today. General waitlist entries may be
        accepted if applicable.
      </div>
    </ng-container>
  </ng-container>

  <ng-template #clubClosed>
    <ion-card
      class="closed-card my-5 animate-fade-in animate-slide-up ion-padding"
    >
      <ion-card-content>
        <ion-card-title class="text-center golden-text">
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && waitlistDisplayOpenTime && activeOperationalSchedule"
          >
            ⏳ Waitlist Opening Soon
          </ng-container>
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && (!waitlistDisplayOpenTime || !activeOperationalSchedule)"
          >
            🚪 We are currently closed
          </ng-container>
        </ion-card-title>

        <div class="text-center mt-2 info-text">
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && waitlistDisplayOpenTime && activeOperationalSchedule"
          >
            The waitlist for
            <strong>{{activeOperationalSchedule.day}}</strong> will open around
            <strong>{{ waitlistDisplayOpenTime }}</strong>.<br />
            Club operating hours today: {{ activeOperationalSchedule.time }}.<br />
            Stay tuned — we’ll be ready for you soon!
          </ng-container>
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && (!waitlistDisplayOpenTime || !activeOperationalSchedule)"
          >
            <!-- We are not currently accepting waitlist entries. Please check the
            schedule for updates or try again later. -->
            Please check the schedule for the next game night.
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
