<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>
  <h1 class="title animate-fade-in">WELCOME TO CLUB ELITE</h1>
  <div class="text-center">
    <img
      class="bg-transparent animate-zoom-in"
      src="../../assets/club_logo.png"
      height="150px"
      alt="Poker Club"
    />
  </div>

  <div class="text-center ion-padding">
    <swiper-container
      id="mySwiper"
      effect="fade"
      crossFade="true"
      [slidesPerView]="1"
      [loop]="true"
      (swipertouchstart)="disableTabSwipe()"
      (swipertouchend)="enableTabSwipe()"
      autoplay="true"
      class="swiper swiper-container"
    >
      <swiper-slide class="swiper-slide" *ngFor="let pics of gallery"
        ><ion-img [src]="pics.image" alt=""
      /></swiper-slide>
    </swiper-container>
    <!-- <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div
        id="carouselExampleFade"
        class="carousel slide swiper-container carousel-fade"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item active swiper-container"
            *ngFor="let img of gallery"
          >
            <img
              [src]="img.image"
              class="d-block w-100 swiper-slide"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
    <h4 class="subtitle animate-slide-up">Shuffle up and deal!</h4>
    <p class="description animate-slide-up">
      Your premier destination for exciting poker action in a welcoming
      atmosphere. Join us today for thrilling cash games and tournaments!
    </p>
  </div>

  <ion-card class="schedule-card animate-fade-in animate-slide-up ion-padding">
    <ion-card-content>
      <ng-container *ngFor="let day of schedule">
        <div *ngIf="isClubOpen === true else noSchedule">
          <ion-card-header>
            <ion-card-title>Today's Schedule</ion-card-title>
          </ion-card-header>
          <h2 class="text-center mb-3">{{ day.time }}</h2>
          <ng-container *ngFor="let game of day.games">
            <div class="row">
              <div class="col">
                <h2><strong>{{ game.gameType }}</strong></h2>
              </div>
              <div class="col">
                <h2 class="float-end"><p>{{ game.limit }}</p></h2>
              </div>
            </div>
          </ng-container>
          <p class="text-center mt-3">{{ day.description }}</p>
          <ion-button
            expand="block"
            class="glowing-btn m-3"
            href="/tabs/waitlist"
          >
            Join List
          </ion-button>
          <!-- <ion-button expand="block" class="glowing-btn m-3" href="/tabs/toc">
            TOC waitlist
          </ion-button> -->
          <ion-button
            expand="block"
            class="glowing-btn m-3"
            href="/tabs/pre-reg-toc"
          >
            Pre-registration for TOC
          </ion-button>
        </div>
        <ng-template #noSchedule>
          <ion-card-title class="text-center"
            >We are currrently closed</ion-card-title
          >
        </ng-template>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <!-- <div *ngFor="let game of todayGames" class="ion-padding fade-in">
    <h3 class="golden-text">{{game.gameType}}</h3>
    <p class="info-text">
      <ion-icon name="checkmark"></ion-icon> indicates the player is checked in
      at the club
    </p>

    <ion-list class="waitlist-list" *ngIf="waitlist.length > 0">
      <ng-container *ngFor="let entry of waitlist">
        <ng-container *ngIf="entry.gameType == game.gameType; else noData">
          <ion-item
            class="waitlist-item rounded-bottom border-bottom border-warning"
          >
            <ion-label>
              {{ entry.firstName }} {{ entry.lastInitial }}
              <span style="float: right" *ngIf="entry.checkedIn == true">
                <ion-icon name="checkmark"></ion-icon>
              </span>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ng-template #noData>
      <p class="info-text">
        No players on the waitlist yet. Be the first to join!
      </p>
    </ng-template>
  </div> -->
</ion-content>
