<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-loading
    class="custom-loading"
    [isOpen]="loading"
    message="Loading..."
  ></ion-loading>
  <h1 class="title animate-fade-in">WELCOME TO CLUB ELITE</h1>
  <div class="text-center">
    <img
      class="bg-transparent animate-zoom-in"
      src="../../assets/club_logo.png"
      height="150px"
      alt="Poker Club"
    />
  </div>

  <div class="text-center ion-padding">
    <swiper-container
      id="mySwiper"
      effect="fade"
      crossFade="true"
      [slidesPerView]="1"
      [loop]="true"
      (swipertouchstart)="disableTabSwipe()"
      (swipertouchend)="enableTabSwipe()"
      autoplay="true"
      class="swiper swiper-container"
    >
      <swiper-slide class="swiper-slide" *ngFor="let pics of gallery"
        ><ion-img [src]="pics.image" alt=""
      /></swiper-slide>
    </swiper-container>

    <h4 class="subtitle animate-slide-up">Shuffle up and deal!</h4>
    <p class="description animate-slide-up">
      Your premier destination for exciting poker action in a welcoming
      atmosphere. Join us today for thrilling cash games and tournaments!
    </p>
  </div>

  <ion-card class="schedule-card animate-fade-in animate-slide-up ion-padding">
    <ion-card-content>
      <ng-container
        *ngIf="(isWaitlistAcceptingEntries && activeOperationalSchedule) || toc_count > 0; else noSchedule"
      >
        <ion-card-header>
          <ion-card-title class="text-center"
            ><ion-icon class="align-middle" name="calendar"></ion-icon> Today's
            Schedule</ion-card-title
          >
        </ion-card-header>

        <ng-container *ngIf="activeOperationalSchedule">
          <h2 class="text-center mt-2 text-gold">
            <strong>{{ activeOperationalSchedule.day }}</strong>
          </h2>

          <ng-container *ngFor="let game of activeOperationalSchedule.games">
            <div class="row py-2 border-bottom">
              <div class="col">
                <h3><strong>{{ game.gameType }}</strong></h3>
              </div>
              <div class="col text-end">
                <h3><strong>{{ game.limit }}</strong></h3>
              </div>
            </div>
          </ng-container>

          <p class="text-center mt-3">
            🕒 Starts at: <strong>{{ activeOperationalSchedule.time }}</strong>
          </p>

          <ion-button
            expand="block"
            class="glowing-btn m-3"
            href="/tabs/waitlist"
            *ngIf="isWaitlistAcceptingEntries"
          >
            Join Cash Game Waitlist
          </ion-button>
        </ng-container>

        <p class="text-center mt-3" *ngIf="toc_count > 0 && startTime">
          🕒 Pre-Registration for tournament starts on {{toc.day_date}} at:
          <strong>{{ startTime }}</strong>
        </p>

        <ng-container *ngIf="toc_is_live">
          <ion-button
            expand="block"
            class="glowing-btn m-3"
            href="/tabs/pre-reg-toc"
          >
            Tournament <br />Pre-Registeration
          </ion-button></ng-container
        >
      </ng-container>

      <ng-template #noSchedule>
        <ion-card-title class="text-center text-danger">
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && waitlistDisplayOpenTime && activeOperationalSchedule"
          >
            ⏳ Waitlist Opening Soon
          </ng-container>
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && (!waitlistDisplayOpenTime || !activeOperationalSchedule)"
          >
            🚪 We are currently closed
          </ng-container>
        </ion-card-title>
        <div class="text-center mt-2 info-text">
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && waitlistDisplayOpenTime && activeOperationalSchedule"
          >
            The waitlist for
            <strong>{{activeOperationalSchedule.day}}</strong> opens at
            <strong>{{ waitlistDisplayOpenTime }}</strong>.<br />
            Club operating hours today: {{ activeOperationalSchedule.time }}.<br />
            Stay tuned — we’ll be ready for you soon!
          </ng-container>
          <ng-container
            *ngIf="!isWaitlistAcceptingEntries && (!waitlistDisplayOpenTime || !activeOperationalSchedule)"
          >
            <!-- We are not currently accepting waitlist entries. Please check the
            schedule for updates or try again later. -->
            Next Game Night: <strong>{{nextGame}}</strong>
          </ng-container>
        </div>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
