// ion-button {
//   --background: goldenrod;
//   --background-activated: gold;
// }
ion-content {
  --background: linear-gradient(to bottom, #111, #222, #615b41);
}
.page-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  padding: 1.5rem;
  font-style: italic;
  color: goldenrod;
  font-size: xx-large;
}

.text-gold {
  color: goldenrod;
}

.welcome-section {
  text-align: center;
  padding: 20px;
}

.subtitle,
.description {
  color: #f8f9fa;
}

.image-card {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.image-card:hover img {
  transform: scale(1.05);
}

.schedule-card,
.toc-card {
  background: #222;
  color: white;
  border-radius: 15px;
}

/* Animations */
.animate-fade-in {
  animation: fadeIn 1s ease-in;
}
.animate-slide-up {
  animation: slideUp 0.5s ease-out;
}
.animate-zoom-in {
  animation: zoomIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
